<%= render partial: "title" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'shared/flash_messages' %>
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Title</th>
              </tr>
            </thead>
            <tbody>
              <% @forders.each do |forder| %>
              <tr>
                <td><%= select_tag "forder_detail_#{forder.id}", options_for_select(@statuses.collect {|stat| [stat.name, stat.name]}, forder.status), class: "forder_detail_select"  %></td>
                <td><%= forder.title %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>