<h3>Dashboard
  <small>Job statuses</small>
</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="datatable table table-striped table-hover responsive">
            <thead>
              <tr>
                <th class="sort-alpha">Status</th>
                <th class="sort-alpha">Customer</th>
                <th class="sort-alpha">Address</th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
              <tr>
                <td><%= job.status %></td>
                <td><%= job.customer.contact_info %></td>
                <td><%= job.address %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>