<div id="producDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog big">
      <div class="modal-content">
        <div class="modal-header">
          <span>Sections Details</span>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="table-content" id="product-details-table">
        </div>

        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
  </div>
</div>
