<%
  status = @job.fabrication_order.sections_status
  class_status = status[:done] ? 'green' : 'yellow' %>
Section Done : 
<span id="job-detail-<%= @job.id %>" data-job-details="<%= @job.fabrication_order.sections_to_json %>" class="<%= class_status %>"><%= "#{status[:ready]} of #{status[:total]}" %></span>