<div class="page-header">
  <h1>Edit Status Checklist Item</h1>
</div>
<h3>Status Checklist Item
   <small>edit status_checklist_item</small>
</h3>
<%= render 'form', status_checklist_item: @status_checklist_item %>
