var BRAVURA = BRAVURA || {};

BRAVURA.materialWidth = function materialWidth(id){
  if($("#product_section_size_a_"+id).length){
    return parseInt(document.getElementById("product_section_size_a_"+id).value) || 200
  }
}
BRAVURA.materialHeight = function materialHeight(id){
  if($("#product_section_size_b_"+id).length){
    return parseInt(document.getElementById("product_section_size_b_"+id).value) || 200
  }
}

BRAVURA.resetCanvas = function resetCanvas(id){
  var number1 = BRAVURA.materialWidth(id) ;
  var number2 = BRAVURA.materialHeight(id);
  size = $('#product_section_size_type_'+id).val();
  max = number1 > number2 ? number1 : number2
  more_200 = max >= 200 ? false : true
  if(size ==''||size=='box'){
    $("#wrapper-canvas-"+id).html('')
    $("#wrapper-canvas-"+id).html('<canvas id="canvas-'+id+'" width="'+number1/max*200+'" height="'+number2/max*200+'"><img src="https://user-images.githubusercontent.com/116856/33920682-36c309e8-dffa-11e7-8979-7da6f97df992.jpg"/></canvas>')
  }else if(size=='oval'){
    $("#wrapper-canvas-"+id).html('')
    $("#wrapper-canvas-"+id).html('<canvas id="canvas-'+id+'" width="'+number1/max*200+'" height="'+number2/max*200+'"><img src="https://user-images.githubusercontent.com/5506768/34172350-53625e12-e524-11e7-9dec-71be74dfb9b2.png"/></canvas>')
  }
}

BRAVURA.draw = function draw(id){
  if($('#canvas-'+id).length){
    size = $('#product_section_size_type_'+id).val();
    var number1 = BRAVURA.materialWidth(id) ;
    var number2 = BRAVURA.materialHeight(id);
    max = number1 > number2 ? number1 : number2
    more_200 = max >= 200 ? false : true
    var c = document.getElementById("canvas-"+id);
    var ctx = c.getContext("2d");

    if(size ==''||size=='box'){
      ctx.clearRect(0, 0, c.width, c.height);
      ctx.strokeStyle = BRAVURA.randomColor;
      ctx.lineWidth = 4;
      ctx.strokeRect(0, 0, number1/max*200, number2/max*200);
    }else if(size == 'oval'){
      ctx.setLineDash([])
      ctx.beginPath();
      ctx.ellipse((number1/max*100), (number2/max*100), number1/max*100/2, number2/max*100/2, 0, 0,  2* Math.PI);
      ctx.lineWidth = 2;
      ctx.stroke();
    }

  }
};

BRAVURA.setPlAll = function setPlAll(id){
  seam_id = $('#seam_id').val()
  if($('#set_pl_'+id).prop('checked')){
    $('.e_product_section_id_'+id).each(function(e){
      $(this).select2("val", $('#set_pl_'+id).val()); 
    })
  }else{
    $('.e_product_section_id_'+id).each(function(e){
      $(this).select2("val", seam_id); 

    })
  }

}

BRAVURA.changeSizeType = function changeSizeType(id){
  size = $('#product_section_size_type_'+id).val();
  seam_id = $('#seam_id').val()

  if(size == ''){
    $('#product_section_edge_type_a_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_a_id_'+id).attr("required", true)
    if($('#product_section_edge_type_a_id_'+id).val() == null){$('#product_section_edge_type_a_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_b_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_b_id_'+id).attr("required", true)
    if($('#product_section_edge_type_b_id_'+id).val() == null){$('#product_section_edge_type_b_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_c_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_c_id_'+id).attr("required", true)
    if($('#product_section_edge_type_c_id_'+id).val() == null){$('#product_section_edge_type_c_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_d_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_d_id_'+id).attr("required", true)
    if($('#product_section_edge_type_d_id_'+id).val() == null){$('#product_section_edge_type_d_id_'+id).select2('val',seam_id);}
  }else if(size == 'box'){
    $('#product_section_edge_type_a_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_a_id_'+id).attr("required", true)
    if($('#product_section_edge_type_a_id_'+id).val() == null){$('#product_section_edge_type_a_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_b_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_b_id_'+id).attr("required", true)
    if($('#product_section_edge_type_b_id_'+id).val() == null){$('#product_section_edge_type_b_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_c_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_c_id_'+id).attr("required", true)
    if($('#product_section_edge_type_c_id_'+id).val() == null){$('#product_section_edge_type_c_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_d_id_'+id).parent().removeClass('hidden')
    $('#product_section_edge_type_d_id_'+id).attr("required", true)
    if($('#product_section_edge_type_d_id_'+id).val() == null){$('#product_section_edge_type_d_id_'+id).select2('val',seam_id);}
  }else if(size == 'oval'){
    if($('#product_section_edge_type_a_id_'+id).val() == null){$('#product_section_edge_type_a_id_'+id).select2('val',seam_id);}
    $('#product_section_edge_type_b_id_'+id).select2("val", ' '); 
    $('#product_section_edge_type_b_id_'+id).attr('required', false)
    $('#product_section_edge_type_b_id_'+id).parent().addClass('hidden')
    $('#product_section_edge_type_c_id_'+id).select2("val", ' '); 
    $('#product_section_edge_type_c_id_'+id).attr('required', false)
    $('#product_section_edge_type_c_id_'+id).parent().addClass('hidden')
    $('#product_section_edge_type_d_id_'+id).select2("val", ' '); 
    $('#product_section_edge_type_d_id_'+id).attr('required', false)
    $('#product_section_edge_type_d_id_'+id).parent().addClass('hidden')
  }
}

BRAVURA.initSizeType = function initSizeType(id){
  size = $('#product_section_size_type_'+id).val();
  if(size == 'oval'){
    if($('#product_section_edge_type_b_id_'+id).val() == null){$('#product_section_edge_type_b_id_'+id).select2('val',seam_id)}
    $('#product_section_edge_type_b_id_'+id).attr('required', false)
    $('#product_section_edge_type_b_id_'+id).parent().addClass('hidden')
    if($('#product_section_edge_type_c_id_'+id).val() == null){$('#product_section_edge_type_c_id_'+id).select2('val',seam_id)}
    $('#product_section_edge_type_c_id_'+id).attr('required', false)
    $('#product_section_edge_type_c_id_'+id).parent().addClass('hidden')
    if($('#product_section_edge_type_d_id_'+id).val() == null){$('#product_section_edge_type_d_id_'+id).select2('val',seam_id)}
    $('#product_section_edge_type_d_id_'+id).attr('required', false)
    $('#product_section_edge_type_d_id_'+id).parent().addClass('hidden')
  }
}

BRAVURA.showRooms = function showRooms(){
  $('#roomsPanel').toggleClass('hide');
};

BRAVURA.showCreateEditProductModal = function showCreateEditProductModal(){
  $('#createEditProductModal').modal({
      show: true,
      keyboard: false
  });
};

BRAVURA.showSameSizeModal = function showSameSizeModal(){
  $('#createSameSizeModal').modal({show: true, keyboard: false });
  $('#cb_material_all').unbind().on('click', function() { BRAVURA.checkAllMaterial() });
  $('.cb_material').unbind().on('click', function() { BRAVURA.checkTdMaterial($(this))});
  $('form[id^=same_size_fabrication_order_]').trigger('reset');
};

BRAVURA.checkTdMaterial = function checkTdMaterial(dat) {
  if($('#check_product_section_'+ dat.data('id')).is(':checked')){
    $('#check_product_section_'+ dat.data('id')).prop('checked', false); 
  } else {
    $('#check_product_section_'+ dat.data('id')).prop('checked', true); 
  }
}

BRAVURA.toggleProductSections = function toggleProductSections(element, id){
  // switching the expand/collapse option
  if($(element).hasClass('fa-plus')){
    $(element).removeClass('fa-plus').addClass('fa-minus');
  } else {
    $(element).removeClass('fa-minus').addClass('fa-plus');
  }
  $('#productsList').find("tr[data-parent='"+id+"']").toggleClass('hide');
};

BRAVURA.closeCreateEditProductModal = function closeCreateEditProductModal() {
  $('#createEditRoomModal').modal('hide');
};

BRAVURA.saveCreateEditProductModal = function saveStatusChange(){
  // do the save
  var product = {
    room_id: $("#product_room_id").val(),
    fabrication_order_id: $("#fabrication_order_id").val(),
    room_name: $("#product_room_name").val(),
    product_type_id: $("#product_product_type_id").val(),
    name: $("#product_name").val(),
    sections: $("#product_sections").val()
  };
  var fabrication_order_id = $('#fabrication_order_id').val();
  $.ajax({
    method: "POST",
    url: "/fabrication_orders/"+fabrication_order_id+"/products.json",
    data: { "product": product },
    dataType: "json"
  })
  .done(function(data){
    $('#createEditRoomModal').modal('hide');
    location.href =  "/fabrication_orders/"+fabrication_order_id+"/rooms/"+data.room_id+"/products/"+data.id+"/product_sections/size_index";
  })
  .fail(function(response){
    alert('There was an error saving the product');
  });

};

BRAVURA.createSameSizeModal = function createSameSizeModal(){
  if ($('form[id^=same_size_fabrication_order_]').length){
    $('form[id^=same_size_fabrication_order_]').submit();
  }
};

BRAVURA.checkAllMaterial = function checkAllMaterial(){
  if($('#cb_material_all').is(':checked')){
    $('.size-section').prop('checked', true); 
  } else {
    $('.size-section').prop('checked', false); 
  }
}

// set the behavior on document ready
$(document).ready(function(){
  $('#createEditRoomModalCancelButton').on('click', function() { BRAVURA.closeCreateEditProductModal(); });
  $('#createEditProductModalSaveButton').on('click', function() { BRAVURA.saveCreateEditProductModal(); });
  $('#createSameSizeModalSaveButton').on('click', function() { BRAVURA.createSameSizeModal(); });
  $('#newProductButton').on('click', function() { BRAVURA.showCreateEditProductModal(); });
  $('.edit-product-button').on('click', function() { BRAVURA.showCreateSectionModal(); });
  
  $('.cloneMasterButton').on('click', function() {
    $('#cloneMasterModal').modal({
        show: true,
        keyboard: false
    });
  });  

  
  $('.cloneMasterButton').on('click', function() {
    $('#cloneMasterModal').modal({
        show: true,
        keyboard: false
    });
  });  
  
  $('#masterModalCloneButton').on('click', function() {
    var mroom_id = $('#master_room_id').val();
    var forder_id = $('#master_fabrication_order_id').val();
    var next_room = $('#master_next_room').val();

    $.ajax({
      method: "POST",
      url: "/fabrication_orders/"+forder_id+"/rooms/clone",
      data: {id: mroom_id, next_room: next_room},
      dataType: "script"
    });
  });  
  
  $('.master-room').on('click', function() {
    var theid = $(this).attr("id").split("-")[1]
    
    if($(this).is(':checked')){
      $('.cb-room-'+theid).prop('checked', true); 
    } else {
      $('.cb-room-'+theid).prop('checked', false);
    }  
  });   
  
  $('.master-product').on('click', function() {
    var theid = $(this).attr("id").split("-")[1]
    
    if($(this).is(':checked')){
      $('.cb-product-'+theid).prop('checked', true); 
    } else {
      $('.cb-product-'+theid).prop('checked', false);
    }  
  });  
  
  $('#cb_product_all').on('click', function() {
    
    if($(this).is(':checked')){
      $('.master-room').prop('checked', true); 
      $('.master-product').prop('checked', true); 
      $('.master-section').prop('checked', true); 
    } else {
      $('.master-room').prop('checked', false); 
      $('.master-product').prop('checked', false); 
      $('.master-section').prop('checked', false); 
    }  
  });  
  
  $('#sameSizeButton').on('click',function(){
    BRAVURA.showSameSizeModal();
  })
  
  $('.printProduct').on('click', function() {
    var ids = []
    $('.master-section').each(function() {
      if($(this).is(':checked')) {
        ids.push($(this).attr("id").split("-")[1])
      } 
    });
    
    $('input#ids').val(ids)
    
    $("#form_prints_product").submit();
  });  
  
  $(".product-status-select").focus(function () {
    $(this).data('was', this.value)
  });

  $('.product-status-select').on('ajax:success', function(data, status, xhr){
    var product_id = $(this).attr("id").split("product-status-")[1];
    var room_id = $(this).attr("class").split("product-status-parent-room-")[1];
    if ($(this).val() == 'FINISHED') {
    
      var section_id
      $('.section-status-parent-product-'+product_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id+" option[value='FINISHED']").prop('selected',true);
      })

      var same_status = true
      
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        if ($(el).val() != 'FINISHED') {
          same_status = false
        }
      })  
  
      if (same_status == true) {
        $("#room-status-"+room_id+" option[value='FINISHED']").prop('selected',true);
      }

    }

    if ($(this).val() == 'Pending') {
      $("#room-status-"+room_id+" option[value='Active']").prop('selected',true);
    }

    $(this).data('was', $(this).val());

  }).on('ajax:error',function(e, xhr, status, error){
    alert("failed");
  });
    

  $(".section-status-select").focus(function () {
    $(this).data('was', this.value)
  });

  $('.section-status-select').on('ajax:success', function(data, status, xhr){
    var section_id = $(this).attr("id").split("section-status-")[1];
    var product_id_temp = $(this).attr("class").split("section-status-parent-product-")[1];
    var product_id = product_id_temp.split(" ")[0];
    var room_id = $(this).attr("class").split("section-status-parent-room-")[1];
    
    if ($(this).val() == 'FINISHED') {
      var same_status = true
      
      $('.section-status-parent-product-'+product_id).each(function(i,el) {
        if ($(el).val() != 'FINISHED') {
          same_status = false
        }
      })  
  
      if (same_status == true) {
        $("#product-status-"+product_id+" option[value='FINISHED']").prop('selected',true);
      }

      var same_status2 = true
      
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        if ($(el).val() != 'FINISHED') {
          same_status2 = false
        }
      })  
  
      if (same_status2 == true) {
        $("#room-status-"+room_id+" option[value='FINISHED']").prop('selected',true);
      } 
    }

    if($(this).data('was') == 'FINISHED' && $(this).val() != 'FINISHED'){
      $("#product-status-"+product_id+" option[value='Pending']").prop('selected',true);
      $("#room-status-"+room_id+" option[value='Active']").prop('selected',true);
    }

    $(this).data('was', $(this).val())
    if($(this).hasClass('parsley-error')){
      if($(this).next().hasClass('error')){
        $(this).next().remove()
      }
    }
    $(this).removeClass("parsley-error");
    


  }).on('ajax:error',function(e, xhr, status, error){
    var message = xhr.responseJSON.message;
    $(this).addClass("parsley-error");
    $( "<label class='error'><i style='color: #f05050'>"+message+" </i></p>" ).insertAfter($(this));
    alert('failed')
  });

  $(".room-status-select").focus(function () {
    $(this).data('was', this.value)
  });

  $('.room-status-select').on('ajax:success', function(data, status, xhr){
    var room_id = $(this).attr("id").split("room-status-")[1];
    if ($(this).val() == 'FINISHED') {
    
      var product_id
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        product_id = $(el).attr('id');
        $("#"+product_id+" option[value='FINISHED']").prop('selected',true);        
      })
      var section_id
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id+" option[value='FINISHED']").prop('selected',true);
      })
    }
    
    if ($(this).val() == 'LOCKED') {
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        product_id = $(el).attr('id');
        $("#"+product_id).prop('disabled', true);        
      })
      
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id).prop('disabled',true);
      })      
    } else {
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        product_id = $(el).attr('id');
        $("#"+product_id).prop('disabled', false);        
      })
      
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id).prop('disabled', false);
      })       
    }
    if ($(this).val() == 'Not Active') {
      var product_id
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        product_id = $(el).attr('id');
        $("#"+product_id+" option[value='N/A']").prop('selected',true);        
      })
      var section_id
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id+" option[value='N/A']").prop('selected',true);
      })
    }

    if($(this).val() == 'Active' && $(this).data('was') == 'Not Active'){
      var product_id
      $('.product-status-parent-room-'+room_id).each(function(i,el) {
        product_id = $(el).attr('id');
        $("#"+product_id+" option[value='Measured']").prop('selected',true);        
      })
      var section_id
      $('.section-status-parent-room-'+room_id).each(function(i,el) {
        section_id = $(el).attr('id');
        $("#"+section_id+" option[value='In Fabrication']").prop('selected',true);
      })
    }

    $(this).data('was', $(this).val())

  }).on('ajax:error',function(e, xhr, status, error){
    alert("failed");
  });
  

  if($('.product_section_id').length){


    $('.product_section_id').each(function(e){
      id = $(this).val();
      BRAVURA.resetCanvas(id)
      BRAVURA.draw(id);
      BRAVURA.initSizeType(id);
      
      if ($('#product_section_edge_type_a_id_'+id).val() == $('#set_pl_'+id).val() &&
          $('#product_section_edge_type_b_id_'+id).val() == $('#set_pl_'+id).val() &&
          $('#product_section_edge_type_c_id_'+id).val() == $('#set_pl_'+id).val() && 
          $('#product_section_edge_type_d_id_'+id).val() == $('#set_pl_'+id).val()){
        $('#set_pl_'+id).prop('checked',true);
      }else{
        $('#set_pl_'+id).prop('checked',false);
      }

    })

  }

  $('input[id^=set_pl_]').on('change', function(){
    id = $(this).data('id');
    BRAVURA.setPlAll(id)
  })

  $('.change-size').on('blur', function(){
    id = $(this).data('id')
    BRAVURA.resetCanvas(id)
    BRAVURA.draw(id);
  })

  $('select[id^=product_section_size_type_]').on('select2:select', function (e) {
    id = $(this).data('id')
    BRAVURA.changeSizeType(id)
    BRAVURA.resetCanvas(id)
    BRAVURA.draw(id);
  });
});
