<tr>
  <td><%= log.user_name.split(" ", 2)[0] %></td>
  <td><%= log.user_name.split(" ", 2)[1] %></td>
  <td><%= log.created_at.in_time_zone('America/New_York').strftime('%Y-%m-%d %H:%M') rescue log.created_at.to_s(:db) %></td>
  <td><%= log.details %></td>
</tr>
