<div id="map" class="full-map">
	<div id="location-map"></div>
</div>

<script>
	// Loop through our array of markers & place each one on the map
  var markers = <%=raw @markers.to_json || '{}' %>;

  var user_id = '<%=raw current_user.id %>';

  console.log(markers);

  function initMaps() {
  	initMapWithMarkers(markers)
  }


  var gMapMarkers = [];
  var map = null;
  var socket = io('http://52.15.199.76:8080');

  function initMapWithMarkers(markers) {
    var center = markers.length > 0 ? markers[0] : {
        lat: 40.6179997,
        lng: -73.9344151
      };

      if(map == null) {
        map = new google.maps.Map(document.getElementById('location-map'), {
          zoom: 6,
          center: center
        });
      }

    gMapMarkers = [];
    if(markers && markers.length > 0) {
      for( var i = 0; i < markers.length; i++ ) {
        var marker_data = markers[i];
        var content = marker_data.title || '';
        var position = new google.maps.LatLng(marker_data.lat, marker_data.lng);
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          title: content
        });
        marker.setVisible(true);
        gMapMarkers.push(marker);
      }
    }

    socket.on('update_positions', updatePositions);
  }

  function updatePositions(positions) {
    
        console.log('---------updated positions -----------', positions);
    
        positions.forEach((item, index) => {
          data = positions[item.user_id];
          for(var i=0; i<markers.length; i++) {
    
            var isExist = false;
            if(markers[i].user_id == item.user_id) {
    
              isExist = true;
              if (data.lat != item.lat || data.lng != item.lng) {
                markers[index].lat = data.lat;
                markers[index].lng = data.lng;
        
                var marker_data = markers[index];
                var position = new google.maps.LatLng(marker_data.lat, marker_data.lng);
                var content = marker_data.title || '';
        
                var marker = gMapMarkers[index]
        
                marker.setPosition(position);
    
                break;
              }
            }
    
            if(isExist != true) {
              var content = data.user_id || '';
              var position = new google.maps.LatLng(data.lat, data.lng);
              var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: content
              });
    
              marker.setVisible(true);
              gMapMarkers.push(marker);
              markers.push({
                user_id: data.user_id,
                lat: data.lat,
                lng: data.lng
              });
            }
          }
        });
        
        /*
        markers.forEach((item, index) => {
          var data = positions[item.user_id];
          if (data.lat != item.lat || data.lng != item.lng) {
            markers[index].lat = data.lat;
            markers[index].lng = data.lng;
    
            var marker_data = markers[index];
            var position = new google.maps.LatLng(marker_data.lat, marker_data.lng);
            var content = marker_data.title || '';
    
            var marker = gMapMarkers[index]
    
            marker.setPosition(position);
          }
        });
        */
  }
</script>