<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + Ruby on Rails">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Bravura Glass Company NY - CRM</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->

   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

   <%= csrf_meta_tags %>
</head>

<body>
   <div class="wrapper">
      <%= yield %>
   </div>
</body>

</html>
